<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keys" content="">
    <meta name="author" content="">
    <!--因为link标签是相对路径，base标签可以确保它们都使用统一的URL路径，且其他链接不需要写完整的URL路径-->
    <base th:href="@{/}">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/login.css">
    <style>

    </style>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div><a class="navbar-brand" href="index.html" style="font-size:32px;">尚筹网-创意产品众筹平台</a></div>
        </div>
    </div>
</nav>

<div class="container">

    <form action="/auth/member/do/register" method="post" class="form-signin" role="form">
        <h2 class="form-signin-heading"><i class="glyphicon glyphicon-log-in"></i> 用户注册</h2>
        <p th:text="${register_check}">这里显示从请求域取出的提示消息</p>
        <div class="form-group has-success has-feedback">
            <input type="text" class="form-control" name="loginacct" placeholder="请输入登录账号" autofocus>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-success has-feedback">
            <input type="text" class="form-control" name="userpswd" placeholder="请输入登录密码" style="margin-top:10px;">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-success has-feedback">
            <input type="text" class="form-control" name="username" placeholder="请输入昵称" style="margin-top:10px;">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-success has-feedback">
            <input type="text" class="form-control" name="email" placeholder="请输入邮箱地址" style="margin-top:10px;">
            <span class="glyphicon glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-success has-feedback">
            <input type="text" name="phoneNum" class="form-control" id="phoneNum" placeholder="请输入手机号" style="margin-top:10px;">
            <span class="glyphicon glyphicon glyphicon-earphone form-control-feedback"></span>
        </div>
        <div class="form-group has-success has-feedback">
            <input type="text" class="form-control" name="messageCode" placeholder="请输入验证码" style="margin-top:10px;">
            <span class="glyphicon glyphicon glyphicon-comment form-control-feedback"></span>
        </div>
        <button id="sendShortMessage" type="button" class="btn btn-lg btn-success btn-block"> 获取验证码</button>
        <!--a标签改成button，class属性不变-->
        <button type="submit" class="btn btn-lg btn-success btn-block">注册</button>
        <!--<a class="btn btn-lg btn-success btn-block" href="login.html" > 注册</a>-->
    </form>
</div>
<script type="text/javascript" src="jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="layer/layer.js"></script>
<script type="text/javascript">

    $(function () {

        $("#sendShortMessage").click(function () {
            //1.获取用户输入的手机号
            var phoneNum = $.trim($("[name=phoneNum]").val());
            //2.发送ajax请求后端，发送验证码到该手机上
            $.ajax({
                "url": "/auth/member/sendShortMessage",
                "type": "post",
                "data": {
                    "phoneNum": phoneNum
                },
                "dataType": "json",
                "success": function (response) {
                    let result = response.result;
                    if ("SUCCESS" == result){
                        layer.msg("验证码发送成功");
                    }else {
                        layer.msg("验证码发送失败，请稍后再试"+response.message);
                        return ;
                    }
                },
                "error": function (response) {
                    layer.msg("验证码发送失败，请稍后再试")
                }
        });
        });
    });

</script>
</body>



</html>