<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.crowd.mapper.MemberPoMapper" >
  <resultMap id="BaseResultMap" type="com.atguigu.crowd.entity.po.MemberPo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="loginacct" property="loginacct" jdbcType="VARCHAR" />
    <result column="userpswd" property="userpswd" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="authstatus" property="authstatus" jdbcType="INTEGER" />
    <result column="usertype" property="usertype" jdbcType="INTEGER" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="cardnum" property="cardnum" jdbcType="VARCHAR" />
    <result column="accttype" property="accttype" jdbcType="INTEGER" />
  </resultMap>

    <sql id="Base_Column_List" >
    id, loginacct, userpswd, username, email, authstatus, usertype, realname, cardnum, 
    accttype
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_member
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByLoginAcct" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_member
    where loginacct = #{loginAcct}
  </select>

  <insert id="saveMemberPo" parameterType="com.atguigu.crowd.entity.po.MemberPo">
      insert into t_member
      <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null and id !=''">id,</if>
          <if test="loginacct != null and loginacct !=''">loginacct,</if>
          <if test="userpswd != null and userpswd !=''">userpswd,</if>
          <if test="username != null and username !=''">username,</if>
          <if test="email != null and email !=''">email,</if>
          <if test="authstatus != null and authstatus !=''">authstatus,</if>
          <if test="usertype != null and usertype !=''">usertype,</if>
          <if test="realname != null and realname !=''">realname,</if>
          <if test="cardnum != null and cardnum !=''">cardnum,</if>
          <if test="accttype != null and accttype !=''">accttype,</if>
      </trim>
      <trim prefix="values(" suffix=")" suffixOverrides=",">
          <if test="id != null and id !=''">#{id},</if>
          <if test="loginacct != null and loginacct !=''">#{loginacct},</if>
          <if test="userpswd != null and userpswd !=''">#{userpswd},</if>
          <if test="username != null and username !=''">#{username},</if>
          <if test="email != null and email !=''">#{email},</if>
          <if test="authstatus != null and authstatus !=''">#{authstatus},</if>
          <if test="usertype != null and usertype !=''">#{usertype},</if>
          <if test="realname != null and realname !=''">#{realname},</if>
          <if test="cardnum != null and cardnum !=''">#{cardnum},</if>
          <if test="accttype != null and accttype !=''">#{accttype},</if>
      </trim>
  </insert>

</mapper>