<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.crowd.mapper.ProjectItemPicPoMapper" >
  <resultMap id="BaseResultMap" type="com.atguigu.crowd.entity.po.ProjectItemPicPo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="projectid" property="projectid" jdbcType="INTEGER" />
    <result column="item_pic_path" property="itemPicPath" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, projectid, item_pic_path
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_project_item_pic
    where id = #{id,jdbcType=INTEGER}
  </select>

</mapper>