<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.crowd.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.atguigu.crowd.entity.Menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="pid" property="pid" jdbcType="INTEGER" />
    <result column="menu_name" property="name" jdbcType="VARCHAR" />
    <result column="menu_url" property="url" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
  </resultMap>


  <sql id="base_select">
    select id, pid,menu_name,menu_url,icon from t_menu
  </sql>

  <select id="queryMenuList" resultMap="BaseResultMap">
      <include refid="base_select"/>
  </select>

  <insert id="addChildrenMenu" parameterType="com.atguigu.crowd.entity.Menu">
    insert into t_menu
    <trim prefix="(" suffixOverrides="," suffix=")">
      <if test="id != null and id != 0">id,</if>
      <if test="pid != null and pid != 0">pid,</if>
      <if test="name != null and name != ''">menu_name,</if>
      <if test="url != null and url != ''">menu_url,</if>
      <if test="icon != null and icon != ''">icon,</if>
    </trim>
    <trim prefix="values(" suffixOverrides="," suffix=")">
      <if test="id != null and id != 0">#{id},</if>
      <if test="pid != null and pid != 0">#{pid},</if>
      <if test="name != null and name != ''">#{name},</if>
      <if test="url != null and url != ''">#{url},</if>
      <if test="icon != null and icon != ''">#{icon},</if>
    </trim>

  </insert>



</mapper>